html {
  color: #ffffff;
  background-color: #222222;
}

div#flex-container {
    display: flex;
    justify-content: center;
}

div#somo-logo div.spacer {
    height: 40px;
}

div#somo-logo div.sparks div.spark {
    background-color: #ff508b;
    height: 67px;
    width: 229px;
    margin: 30px;
    transform: rotate(-30deg);
}

div#somo-logo div.sparks div.spark:first-child {
    margin-left: 45px;
}
