html {
  color: #ffffff;
  background-color: #222222;
}

div#flex-container {
    display: flex;
    justify-content: center;
}

div#somo-logo div.spacer {
    height: 40px;
}

div#somo-logo div.sparks div.spark {
    border: 2px solid #37e6da;
    background-color: rgba(55, 230, 218, 0.12);
    height: 67px;
    width: 229px;
    margin: 30px;
    transform: rotate(-30deg);
}

div#somo-logo div.sparks div.spark:first-child {
    margin-left: 45px;
}
