html {
    color: #ffffff;
    background-color: #222222;
}

h1 {
    text-align: center;
}

div#flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#flex-container > div {
    flex: 1 1;
    text-align: center;
}

div#somo-logo div.spacer {
    height: 40px;
}

div#somo-logo div.sparks div.spark {
    border: 2px solid #37e6da;
    background-color: rgba(55, 230, 218, 0.12);
    height: 67px;
    width: 229px;
    margin: 30px;
    transform: rotate(-30deg);
}

div#somo-logo div.sparks div.spark:first-child {
    margin-left: 45px;
}

img#heart-image {
    max-width: 200px;
}

img#heart-image {
    max-width: 200px;
    animation-name: thump;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes thump {
    0% { transform:scale(1); }
    10% { transform:scale(1.2); }
    25% { transform:scale(1); }
    35% { transform:scale(1.2); }
    60% { transform:scale(1); }
    100% { transform:scale(1); }
}

img#git-logo {
    max-width: 280px;
}